/*──────────────────
    social media
──────────────────*/

.social-media {
    padding: 10px;
    display: flex;
    position: center;
    align-items: space-around;
    justify-content: center;
  }
  
  .social-media a {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    color: var(--main-fonts-color);
  }
  
  .social-media a i {
    cursor: pointer;
  }
  
  .social-media a:hover {
    color: var(--main-decor-color);
    text-shadow: 0 0 50px var(--main-decor-color);
  }

  /*──────────────────
      Contact
──────────────────*/

#contact {
    margin: auto;
    padding-bottom: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-fonts-color);
  }
  
  #contact p {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
  }


 
  
  
  
  /*────────────────── 
       footer
──────────────────*/

footer {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  .copyright {
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
    color: black;
    
  }
  
  .copyright a {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
  }
  
  .copyright a:hover {
    color: var(--main-decor-color);
  }
  


  